body{
    background-image: linear-gradient(lightblue, cornflowerblue);
    background-image: url(../../HTMLCSSPrework/assets/upfeathers.png);
}

.header{
    border: navy groove 7px;
    background-image: radial-gradient(blue, cornflowerblue);
    text-align: center;
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
}

#basic-info{
    text-align: center;
    margin-left: 350px;
    margin-right: 350px;
    font-family: Arial, Helvetica, sans-serif;
}

#picture1{
    position: fixed;

}

#picture1 img{
    border: navy inset 7px;
    width: 150px;
    height: 125px;
}


#basic-info li:nth-child(1){
    background-color: royalblue;
    margin-bottom: 15px;
    margin-top: 50px;
    border: navy dotted 5px;
    padding: 10px 10px 10px 10px;
}

#basic-info li:nth-child(2){
    background-color: royalblue;
    margin-bottom: 15px;
}

#basic-info li:nth-child(3){
    background-color: royalblue;
}

.big-paragraph{
    margin: 250px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}